
<table style="text-align:center"><caption><strong>Tabla 4.1: Regresión Salario-Mujer</strong></caption>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="2"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="2" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>Ln(salario)</td><td>Ln(salario)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Mujer</td><td>-0.030<sup>**</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.013)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td style="text-align:left">Mujer FWL</td><td></td><td>-0.009</td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.012)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">AIC</td><td>27854.3</td><td>25350.1</td></tr>
<tr><td style="text-align:left">Variables de Control</td><td>No</td><td>Si</td></tr>
<tr><td style="text-align:left">Observations</td><td>12,798</td><td>12,798</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.0004</td><td>0.00005</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="2"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
<tr><td style="text-align:left"></td><td colspan="2">El modelo FWL (2) ha sido calculado con las variable de control</td></tr>
<tr><td style="text-align:left"></td><td colspan="2">edad, educación, ocupación y tamaño de la empresa.</td></tr>
</table>
