
<table style="text-align:center"><caption><strong>Tabla 5.2 Errores de prediccion</strong></caption>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>Modelo</td><td>MSE</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>Modelo 1</td><td>0.501</td></tr>
<tr><td style="text-align:left">2</td><td>Modelo 2</td><td>0.511</td></tr>
<tr><td style="text-align:left">3</td><td>Modelo 3</td><td>0.441</td></tr>
<tr><td style="text-align:left">4</td><td>Modelo 4</td><td>0.494</td></tr>
<tr><td style="text-align:left">5</td><td>Modelo 5</td><td>0.352</td></tr>
<tr><td style="text-align:left">6</td><td>Modelo 6</td><td>0.343</td></tr>
<tr><td style="text-align:left">7</td><td>Modelo 7</td><td>0.342</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr></table>
