<table class=" lightable-classic" style="font-family: Cambria; width: auto !important; margin-left: auto; margin-right: auto;">
<caption>Edades pico en salario sin controles</caption>
 <thead>
  <tr>
   <th style="text-align:left;">   </th>
   <th style="text-align:center;"> General </th>
   <th style="text-align:center;"> Mujeres </th>
   <th style="text-align:center;"> Hombres </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> edad </td>
   <td style="text-align:center;"> 57.4 </td>
   <td style="text-align:center;"> 63.3 </td>
   <td style="text-align:center;"> 54.2 </td>
  </tr>
</tbody>
</table>
