<table class=" lightable-classic" style="font-family: Cambria; width: auto !important; margin-left: auto; margin-right: auto;">
<caption>Edades Max Salario IC</caption>
 <thead>
  <tr>
   <th style="text-align:center;"> Mujeres </th>
   <th style="text-align:center;"> Hombres </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:center;"> 50.7 </td>
   <td style="text-align:center;"> 53.7 </td>
  </tr>
  <tr>
   <td style="text-align:center;"> 46.7 </td>
   <td style="text-align:center;"> 48.6 </td>
  </tr>
  <tr>
   <td style="text-align:center;"> 54.3 </td>
   <td style="text-align:center;"> 58.2 </td>
  </tr>
</tbody>
</table>
